<h1>Life is too short for playing Sudoku</h1>
<div id="flash">
  <%= flash[:notice] %>
</div>
<div id="sudoku">
  <form action="/" method="POST">
  <!-- one div for each row -->
  <% 3.times do |row| %>
    <div class='row'>
        <!-- we want to create separate div elements for boxes to style them using CSS -->
      <% 3.times do |box| %>
          <div class="box">
         <!-- each box will have nine cells -->
         <% 3.times do |cell_row| %>
              <div class="cell-row">
             <% 3.times do |cell| %>
                  <div class="cell">
                    <!-- every cell will have an input field -->
                    <%= partial :cell, :locals => { :cell_index => row * 27 + box * 3 + cell_row * 9 + cell } %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
      <!-- all boxes, rows and cells -->
      <button>Check solution</button>
    </form>
    <form action="/solution">
      <button>I give up show me the answer!</button>
    </form>
    <form action="/reset" method="POST">
      <button>Give me a new puzzle</button>
  </form>
  </div>
